body {
  text-align: center;
}
.inputdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputdiv input {
  padding: 10px;
  border: none;
  min-width: 300px;
  font-size: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .inputdiv input {
    font-size: 20px;
    min-width: 200px;
  }
}
